@charset "ISO-8859-1";
/**************************************/
/***************GENERAL****************/
/**************************************/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #666;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  margin: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
}





/**************************************/
/****************TABLE*****************/
/**************************************/

.table-responsive {
  overflow-x: auto;
}

table {
  border: 1px solid #ddd;
  border-collapse: collapse;
  border-radius: 3px;
  color: #666;
  display: table;
  font-size: 13px;
  max-width: 100%;
  overflow-x: auto;
  position: relative;
  width: 100%;
}

table td,
table th {
  border-top: 1px solid #eee;
  display: table-cell;
  padding: 12px;
  text-align: left;
  vertical-align: middle;
}

table th {
  border-bottom: 2px solid #eee;
  vertical-align: middle;
}

.item-cell {
  padding: 2px 12px;
  /* use for cells containing buttons, sliders, etc. */
}


/**************************************/
/************FORMS & INPUTS************/
/**************************************/

.form-control {
	
  margin: 0.5rem ;
  position: relative;
  display:flex; flex-direction: row; justify-content: center; align-items: center
}

input,
select,
textarea {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #666;
  display: block;
  font-size: 13px;
  line-height: 1.25;
  max-width: 100%;
  padding: 6px 12px;
  position: relative;
  width: 100%;
}

input::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder {
  color: #999;
  opacity: 1;
}

input:focus,
textarea:focus {
  border: 1px solid #40bb93;
  outline: medium none;
}

input:disabled,
textarea:disabled,
select:disabled {
  background-color: #eee;
  color: #999;
  cursor: not-allowed;
  opacity: 1;
}

.inline input,
.inline select,
.inline textarea {
  display: inline-block;
  width: auto;
}

/********** Search Bar **********/
input[type="search"] {
  border-width: 2px;
  display: inline-block;
  padding-left: 2.5em;
  transition: width 0.4s ease-in-out 0s;
  width: 150px;
}

input[type="search"]:focus {
  width: 60%;
}

label[for="search"] {
  bottom: 6px;
  color: #999;
  left: 1em;
  position: absolute;
  z-index: 1;
}

[contenteditable]:hover {
  background-color: #f8f8f8;
  cursor: cell;
}

[contenteditable]:focus {
  background-color: #f8f8f8;
}


/********** Checkbox Sliders **********/
.switch {
  display: inline-block;
  height: 2em;
  position: relative;
  vertical-align: middle;
  width: 3.5em;
}

.switch input {
  display: none;
  margin: 0;
}

.slider {
  background-color: #ccc;
  border-radius: 1em;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.4s ease 0s;
}

.slider::before {
  background-color: white;
  border-radius: 0.7em;
  bottom: 4px;
  content: "";
  height: 1.4em;
  left: 4px;
  position: absolute;
  transition: all 0.4s ease 0s;
  width: 1.4em;
}

input:checked + .slider {
  background-color: #40bb93;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.5em);
  -ms-transform: translateX(1.5em);
  transform: translateX(1.5em);
}
.btn {
	
  background-color: white;
  color: black;
  border: 2px solid #40bb93; /* Green */
  width:7em;
  height:30px
}
.btn_choose_sent input {
  -webkit-appearance: none;
  display: block;
  margin: 8px;
  width: 2em;
  height: 18px;
  border-radius: 12px;
  cursor: pointer;
  vertical-align: middle;
  box-shadow: hsla(0,0%,100%,.15) 0 1px 1px, inset hsla(0,0%,0%,.5) 0 0 0 1px;
  background-color: hsla(0,0%,0%,.2);
      background-image: -webkit-radial-gradient( #fff 0%, #fff 15%, #fff 28%, #fff 70% );
  background-repeat: no-repeat;
  -webkit-transition: background-position .15s cubic-bezier(.8, 0, 1, 1),
    -webkit-transform .25s cubic-bezier(.8, 0, 1, 1);
  outline: none;
}
.btn_choose_sent input:checked {
  -webkit-transition: background-position .2s .15s cubic-bezier(0, 0, .2, 1),
    -webkit-transform .25s cubic-bezier(0, 0, .2, 1);
}
.btn_choose_sent input:active {
  -webkit-transform: scale(1.5);
  -webkit-transition: -webkit-transform .1s cubic-bezier(0, 0, .2, 1);
}



/* The up/down direction logic */

.btn_choose_sent input,
.btn_choose_sent input:active {
  background-position: 0 24px;
}
.btn_choose_sent input:checked {
  background-position: 0 0;
}
.btn_choose_sent input:checked ~ input,
 .btn_choose_sent input:checked ~ input:active {
  background-position: 0 -24px;
}

.btn_choose_sent{
	    background: #EF2D56;
    color: #fff;
    box-shadow: 0 10px 20px rgba(125, 147, 178, .3);
    border: none; 
     border-radius: 3px;
    font-size: 16px;
    line-height: 10px;
    padding:  16px 20px 16px 38px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    margin-right: 30px;
    transition: all .3s;
    height: auto;
    cursor: pointer;
    position: relative;
    outline: none;
}

.btn_choose_sent input{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 99;
    top: 2px;
}

.btn_choose_sent input:after{
	 position: absolute;
    content: '';
    width: 15rem;
    left: 0;
    right: 0;
    /* background: red; */
    /* z-index: -1; */
    height: 40px;
    top: -10px;
}

.bg_btn_chose_1{
	background-color:  #40bb93 !important;
}


.bg_btn_chose_2{
	background-color:  #40bb93 !important;
}


.bg_btn_chose_3{
	background-color:  #40bb93 !important;
}


/*-=p=--=*/




.btn_choose_sent_check_b{
	  background: #EF2D56;
    color: #fff;
    box-shadow: 0 10px 20px rgba(125, 147, 178, .3);
    border: none; 
     border-radius: 3px;
    font-size: 16px;
    line-height: 10px;
    padding:  16px 20px 16px 46px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    margin-right: 30px;
    transition: all .3s;
    height: auto;
    cursor: pointer;
    position: relative;
    outline: none;
}
